In [1]:
import pandas as pd

car=pd.read_csv(r"C:\Users\Harold\Desktop\python\projects\Dataset  Project 2  Cars Data Analysis.csv")
car

car.shape

print("Data Cleaning - Find null values in the columns and fill it with the mean of tthat column")

clean=car.isnull().sum()

print(clean)

fillnullValues= car.fillna({'Cylinders':car['Cylinders'].mean()},inplace=True)
#or alternatively #####car['Cylinders'].fillna(car['Cylinders'].mean(),inplace=True)
####
print(fillnullValues)



print("Check and output the count of the different types of 'Make's in the dataset")
makes=car['Make'].value_counts()
print(makes)

print("Show all the data where the origin is Asia or Europe ")
origin=car[car['Origin'].isin(['Asia','Europe'])]
print(origin)


print("Remove all records where weight is above 4000 ")
car= car[~(car['Weight']>4000)]

print(car.shape)

 
print("Apply a function to increase MPG_City column by 3 ")

print(car['MPG_City'])
car['MPG_City'] =car['MPG_City'].apply(lambda x:x+3)
print(car['MPG_City'])

Data Cleaning - Find null values in the columns and fill it with the mean of tthat column
Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64
None
Check and output the count of the different types of 'Make's in the dataset
Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: count, dtype: int64
Show all the data where the origin is Asia or Europe
      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
423  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
424  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
425  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
426  Volvo                      V40  Wagon  Europe      Front  $26,135
427  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0         265        17           23
1    $21,761          2.0        4.0         200        24           31
2    $24,647          2.4        4.0         200        22           29
3    $30,299          3.2        6.0         270        20           28
4    $39,014          3.5        6.0         225        18           24
..        ...         ...        ...         ...       ...          ...
423  $38,203          2.4        5.0         197        21           28
424  $40,083          2.3        5.0         242        20           26
425  $42,573          2.9        6.0         268        19           26
426  $24,641          1.9        4.0         170        22           29
427  $33,112          2.5        5.0         208        20           27

     Weight  Wheelbase  Length
0      4451        106     189
1      2778        101     172
2      3230        105     183
3      3575        108     186
4      3880        115     197
..      ...        ...     ...
423    3450        105     186
424    3450        105     186
425    3653        110     190
426    2822        101     180
427    3823        109     186

[281 rows x 15 columns]
Remove all records where weight is above 4000
(325, 15)
Apply a function to increase MPG_City column by 3
1      24
2      22
3      20
4      18
5      18
       ..
423    21
424    20
425    19
426    22
427    20
Name: MPG_City, Length: 325, dtype: int64
1      27
2      25
3      23
4      21
5      21
       ..
423    24
424    23
425    22
426    25
427    23
Name: MPG_City, Length: 325, dtype: int64